{% extends "base.html"%}

{% block titulo%}
    Editar Productos
{% endblock %}
<link rel="icon" type="image/png" href="/static/logo1.png">

{% block contenido%}
<div class="container">
    {% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}

    <style>
        .content{
            position: relative;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 200px;
        }
        .bu{
            position: relative;
            padding: 5px 15px;
            color: white;
            background: #181818;
            border: none;
        }
    </style>

    <form class="content" action="/actualizar/{{productos[0]}}" enctype="multipart/form-data" method="POST">
        <h1>Editar Productos</h1>
        <input type="text" placeholder="producto" name="producto" value="{{productos[1]}}">
        <input type="text" placeholder="descripción" name="descripción" value="{{productos[2]}}">
        <input type="text" placeholder="precio" name="precio" value="{{productos[3]}}">
        <input type="text" placeholder="estado" name="estado" value="{{productos[4]}}">
        <input type="file" placeholder="imágen" name="imagen" value="{{productos[5]}}">
        <button class="bu">guardar</button>
    </form>
{% endblock %}