
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/pre_home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Cobaya</title>
    <link rel="icon" type="image/png" href="/static/tanv.png">

</head>
<body>

    <header>
        <div class="jh">
            <img class="log_img" src="/static/tanv.png">
            <h1 class="logo"><span>Cobaya</span>.</h1>
        </div>
        
        <div class="ff">
            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#carta">Carta</a></li>
                <li><a href="#servicios">Servicios</a></li>  
                <li><a href="#about">Sobre Nosotros</a></li>
            </ul>
        </div>
            
        <div class="opciones">
            <a class="log1" href="{{ url_for('login')}}">Entrar como cliente</a>
            <a class="log" href="{{ url_for('login')}}">Entrar como vendedor</a>          
        </div>
    </header>
    <div class="contenedor">
        <div id="home" ></div>
        <div class="slider-contenedor">
            <section class="contenido-slider1">
                <div class="elpepe">
                    <H2 class="letra">Publica tu menú aquí, ¡Es gratis!<br><a class="href" href="#">visitar</a></H2>
                </div>
            </section>
            
            <section class="contenido-slider">
                <div class="elpepe">
                    <H2 class="letra">Encuentra menús de restaurantes locales<br><a class="href" href="#">visitar</a></H2>
                </div>
            </section>

            <section class="contenido-slider">
                <div class="elpepe">
                    <H2 class="letra">Haz tu reservación desde la comodidad de tu casa<br><a class="href" href="#">visitar</a></H2>
                </div>
            </section>

            <section class="contenido-slider4">
                <div class="elpepe">
                    <H2 class="letra">Publica tu menú aquí, ¡Es gratis!<br><a class="href" href="#">visitar</a></H2>
                </div>
            </section>
        </div>     
    </div>

    <div id="about" class="about">
        <h1>Sobre Nosotros<span class="punto">.</span></h1>
        <div class="acercade">
            <img src="/static/tanv.png">
            <div class="pepe">
                <h1>Cobaya<span class="punto">.</span></h1>
                <p class="textabout">
                    Brindamos un servicio de hosting rápido y sencillo que te permite encontrar los menús de los restaurantes de tu localidad
                    y hacer tu orden desde casa. 
                </p>
                <h1 class="cola">Colaboradores</h1>
                <div class="colaboradores">
                   <div class="balv">
                        <div class="imjean"></div>
                        <a class="mm" href="">Jean Zambrano</a> 
                        <div class="lins">
                            <a href="https://github.com/Cobayaa"><ion-icon name="logo-github" class="links_redes"></ion-icon></a>
                            <a href="https://www.facebook.com/profile.php?id=100005223366167"><ion-icon name="logo-facebook" class="links_redes"></ion-icon></a>
                            <a href="https://www.linkedin.com/in/mocoa-riding-a68726231/"><ion-icon name="logo-linkedin"  class="links_redes"></ion-icon></a>
                        </div>
                    </div>
                   <div class="balv">
                        <a class="mm" href="">Cesar Díazgranados</a>
                        <div class="lins">
                            <a href="https://www.facebook.com/profile.php?id=100005223366167"><ion-icon name="logo-facebook" class="links_redes"></ion-icon></a>
                            <a href="https://github.com/Cobayaa"><ion-icon name="logo-github" class="links_redes"></ion-icon></a>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>
    <div class="zx">
        <div class="bus">
            <p class="gf">¿Quieres califícanos?</p>
            <div class="container_rating">
                <div class="post">
                  <div class="text">¡Gracias por calificarnos!</div>
                  <div class="edit">EDITAR</div>
                </div>
                <div class="star-widget">
                  <input type="radio" name="rate" id="rate-5">
                  <label for="rate-5" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-4">
                  <label for="rate-4" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-3">
                  <label for="rate-3" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-2">
                  <label for="rate-2" class="fas fa-star"></label>
                  <input type="radio" name="rate" id="rate-1">
                  <label for="rate-1" class="fas fa-star"></label>
                  <form action="#">
                    <header></header>
                    <div class="textarea">
                      <textarea cols="30" placeholder="Describe tu experiencia.."></textarea>
                    </div>
                    <div class="btn">
                      <button type="submit">Enviar</button>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>
        
    


    <footer>
        <div class="foot">
            <h1 class="dd">Cobaya<span class="punto">.</span></h1>
            <div class="dir">
                <a href="#" class="a">home</a>
                <a href="#carta" class="a">carta</a>
                <a href="#servicios" class="a">servicios</a>
                <a href="#about" class="a">About</a>
            </div>
        </div>
        <div class="redes">
            <a href="https://github.com/Cobayaa"><ion-icon name="logo-github" class="links_redes"></ion-icon></a>
            <a href="https://www.facebook.com/profile.php?id=100005223366167"><ion-icon name="logo-facebook" class="links_redes"></ion-icon></a>
            <a href="https://www.linkedin.com/in/mocoa-riding-a68726231/"><ion-icon name="logo-linkedin"  class="links_redes"></ion-icon></a>
        </div>
        <div>
            <p class="rr" >© 2022 Cobaya. Todos los derechos reservados. | Hecho con ❤ por <span class="logofooter"><a class="rr1" href="https://github.com/Cobayaa/Cobaya-hosting">cobaya</a></span></p>
        </div>
    </footer>
    



    <script src="/static/js/sticky.js"></script>    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/slider.js"></script>
    <script src="/static/js/calificar.js"></script>

</body>
</html>